@font-face {
    font-family: 'Lexend';
    src: url('path/to/Lexend-Bold.woff2') format('woff2'),
        url('path/to/Lexend-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    background-color: #222831;
    font-family: 'Lexend', sans-serif;
    
}

header {
    position:absolute;
    height:60px;
    width:100%;
    left:0px;
    z-index:1;
    top:0px;
    color:white;
    font-size:34px;
    padding-top:30px;
    text-align: center;
    font-weight:bold;
}

#map {
    height:900px;
    width:100%;
}

#map-container {
    position:absolute;
    width:100%;
    left:0;
    top:0px;
}
#menu-container {
    z-index:3333;
}

#menu-symbol {
    position:absolute;
    right:20px;
    top:10px;
    z-index:1;
    font-weight:bold;
    height:60px;
}

#current-event-container {
    position:absolute;
    width:90%;
    left:5%;
    border:1px solid white;
    top:740px;
    height:300px;
    
}


#current-event-title-wrapper {
    color:white;
    text-align: center;
    font-size:54px;
    margin-top:20px;
    font-weight:bold;
}

#map-cover {
    width:100%;
    background-color:black;
    z-index:2;
    height:900px;
    position:absolute;
    opacity: 0.8;
    top:0px;
    left:0px;
}

#thetitle {
    z-index:3;
    color:white;
    position:absolute;
    left:17%;
    font-size:60px;
    top:200px;
    
}

#description {
    z-index:3;
    color:white;
    position: absolute;
    font-size:20px;
    top:330px;
    left:17%;
}

#explore {
    position:absolute;
    z-index:3;
    color:white;
    background-color:#FF6600;
    padding:20px;
    padding-left:40px;
    padding-right:40px;
    font-size:20px;
    left:17%;
    top:420px;
}
